html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}


.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.navbar {
    background-color:rgb(52, 46, 226);
    border: 5px solid rgb(90, 90, 232);
    border-radius: 20px;
    padding: 10px;
}

i {
    font-size: 3.1vw;
    color:white;
    padding: 10px 16px;
}

i span {
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif sans-serif;
    margin-left: 10px;
}

ul {
    float: right;
    padding: 0;
    list-style-type: none;
    margin: 6px 0;
}

li {
    box-sizing: border-box;
    display: inline-block;
    font-weight: 400;
    width: 10vw;
    text-align: center;
    padding: 10px 0;
}

li a {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    color: white;
    text-decoration: none;
}

li:hover, .active {
    background-color: rgb(86, 142, 202);
    border-radius: 15px;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color:rgb(52, 46, 226);
}

#checkbtn {
    float: right;
    margin: 1vw 0;
    margin-right: 5%;
    cursor: pointer;
    display: none;
    height: auto;
}

#checkbtn i {
    padding: 0;
    margin: 0;
}

#checkbox {
    display: none;
}

@media screen and (max-width: 1200px) {
    #checkbtn {
        display: block;
    }

    ul {
        width: 100%;
        text-align: center;
        background-color: rgb(3, 0, 160);
        padding: 30px 0;
    }

    li {
        display: block;
        margin: 15px auto;
        width: 140px;
        font-size: xx-large;
    }
}